.upcoming-events {
  height: 320px;
  background-color: #540d6e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;

  .title {
    margin-top: -30px;
    width: 392px;
    height: 35px;
    color: #fff;
    border-bottom: solid 2px #fff;
    padding-bottom: 50px;

    .title-text {
      font-size: 25px;
      font-family: gillsans-reg;
    }
  }

  .events {
    height: 124px;
    margin-top: -100px;
    display: flex;
    justify-content: space-around;

    .event {
      width: 210px;
      height: 100%;
      display: flex;
      justify-content: space-between;

      .date {
        width: 60px;
        height: 60px;
        background-color: #ee4367;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          margin-top: 10px;
          font-size: 22px;
          font-family: gillsans-bold;
        }

        .date {
          margin-top: -9px;
          margin-bottom: -5px;
          font-size: 12px;
          font-family: gillsans-light;
        }
      }

      .event-detail {
        width: 140px;

        .highlight {
          font-size: 15px;
          font-family: gillsans-reg;
          color: #fff;
        }

        .details {
          font-size: 13px;
          font-family: gillsans-reg;
          color: #ee4367;
        }
      }
    }
  }
}
